ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

 /*Write your CSS below, don't change the rules above. */
p{
  color: blue;
}
.note{
  font-size: 20px;
}
#id-selector-demo{
  color: aqua;
  font-size: 15px;
}
li [value=4]{
  color: palevioletred;
}
*{
  text-align:center;
  font-family:sans-serif;
}
